@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

body {
    min-height: 100%;
    width: 100vw;
}

a {
    text-decoration: none;
}

.fullwidth {
    width: 100vw;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2rem;
}

.position-relative {
    position: relative !important;
}

.header {
    position: fixed;
    top: 0;
    height: 60px;
    background-color: #2F6CFA;
}

.h-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a i {
    font-size: 2.5rem;
    color: #fff;
    transition: .2s;
}

.logo a i:hover {
    font-size: 2.8rem;
    transition: .2s;
}

.menu {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu a {
    color: #fff;
    margin-left: 1rem;
    padding: .5rem 1rem;
    border: 2px solid transparent;
    border-radius: 1rem;
    transition: .2s;
}

.menu a:hover {
    border: 2px solid #fff;
    border-radius: 1rem;
    transition: .3s;
    background-color: #1e62ff;
}

.page-content {
    margin-top: 60px;
}

.welcome {
    padding: 2rem;
}

.welcome h1 {
    font-size: 2rem;
}

.tag-welcome {
    color: #838383;
    font-style: italic;
    font-size: .8rem;
    padding-left: 1rem;
}

.banner {
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #333333;
    color: #fff;
    position: absolute;
    bottom: 0;
}

.footer .container {
    display: flex;
    align-items: center;
    height: 100px;
}